<%- include('./partials/head.ejs') %>

<section class="desktop-welcome">
    <p class="welcome-message">Welcome to my NASA Rover Photos website. I made this website to practice with data from 
        the NASA API and to learn more about Mars and the Rovers Curiosity, Opportunity and Spirit. Click
        on one of the Rovers below to learn more about them and see their photos. Or ask questions about Mars and the Rovers to Martian, the AI Rover.</p>
        <div class="mars-svg-container">
            <img class="mars-svg" src="/Mars.svg" alt="Mars" width="200px" height="200px">
        </div>
</section>



<section class="desktop-index-rovers">
    <a href="/rover.ejs?rover=curiosity&sol=<%= curiosity.photo_manifest.max_sol %>" title="Curiosity" class="index-rovers curiosity">
        <span class="span-rover">Curiosity</span>
    </a>
    <a href="/rover.ejs?rover=opportunity&sol=<%= opportunity.photo_manifest.max_sol %>" title="Opportunity" class="index-rovers opportunity">
        <span class="span-rover">Opportunity</span>
    </a>
    <a href="/rover.ejs?rover=spirit&sol=<%= spirit.photo_manifest.max_sol %>" title="Spirit" class="index-rovers spirit">
        <span class="span-rover">Spirit</span>
    </a>

    <div class="martian-ai martian-ai-container index-rovers">
    <section class="martian-ai">
        <h2>Ask Martian, the AI Rover</h2>

            <!-- openai -->
            <ul id="chat-output">
                <li><span class="martian">Martian: </span>Ask me anything about Mars or the Rovers!</li>
            </ul>
    </section>
    <form class="ai-form" action="/" method="post" id="chat-form" >
        <input type="text" id="user-input" name="userInputForm" placeholder="Typ hier je vraag...">
        <button type="submit">SEND</button>
    </form>
</div>
</section>


<%- include('./partials/foot.ejs') %>